@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    left: 0;
}

header {
    position: static;
    top: 0;
}

.contenedorCuadro {
    width: 100%;
    overflow: hidden;
    display: flex; /* las cosas que tengas dentro tienen un tamaño flexible*/
}

.cuadroPrincipal {
    position: absolute;
    /*Esta posicionado por su cuenta, no toma en consideracion al resto de elementos*/
    background-color: rgba(203, 203, 54, 0.915);
    border: 5px solid black;
    /* ancho tipo color */
    border-radius: 40px;
    /* redondear */
    padding: 2%;
    /* margen interno */
    max-width: 70vw;
    max-height: 90vh;
    left: 15vw;
    top: 5vh;
    overflow: hidden;
}

.albumTitle{
    text-align: center;
    margin-top: 4%;
}

#albumSeleccionado{
    width: calc(80vw / 5);
    margin:auto
}

.album{
    margin: 2%;
    margin-bottom: 0;
}

img{
    max-width: 100%;
}

#titulo {
    text-align: center;
    font-size: min(7vh, 7vw);
    font-family: "Kalam";
    margin:0%;
}

#subtitulo {
    text-align: center;
    font-size: min(3vh, 3vw);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0%;
    margin-bottom: 1%;
}

@media only screen and (max-width: 600px) {
    .cuadroPrincipal {
        width: 90vw;
        left: 5vw;
    }
}