@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap'); /* EB Garamond */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,200;1,8..144,200&display=swap');


* {
    box-sizing: border-box;
}

.antic-slab-regular {
    font-family: "Antic Slab", serif;
    font-weight: 300;
    font-style: normal;
  }

body {
    align-items: center;
    background-color: #edebe7;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    left: 0;
}

header {
    position: static;
    top: 0;
}

.contenedorCuadro {
    width: 100%;
    overflow: hidden;
    display: flex; /* las cosas que tengas dentro tienen un tamaño flexible*/
}


.cuadroPrincipal {
    position: absolute;
    /*Esta posicionado por su cuenta, no toma en consideracion al resto de elementos*/
    background-color: #817c70;
    box-shadow: 14px 13px 0px 2px rgba(0,0,0,0.61);
    /* border: 5px solid #6b5b3a; ancho tipo color */
    border-radius: 30px;
    /* redondear */
    padding: 2%;
    /* margen interno */
    max-width: 70vw;
    max-height: 90vh;
    overflow: hidden;
    left: 15vw;
    top: 10vh;
}

.albumTitle{
    text-align: center;
    margin-top: 4%;
    font-family: "EB Garamond", "sans-serif";
    color: #edebe7
}

.album{
    margin: 2%;
    margin-bottom: 0;
    width: 100%;
}

img{
    width: 100%;
    transform: scale(1,1);
    transition-timing-function: ease-out;
    transition-duration: 250ms;
}

img:hover{
    transform: scale(1.08,1.08);
    transition-timing-function: ease-out;
    transition-duration: 100ms;
}

#titulo {
    text-align: center;
    font-size: min(7vh, 7vw);
    font-family: "Roboto Serif", "sans-serif";
    margin:0%;
    color: #edebe7;
}

#subtitulo {
    text-align: center;
    font-size: min(2vh, 2vw);
    font-family: "Roboto Serif", sans-serif;
    margin: 0%;
    margin-top: 1.2%;
    color: #edebe7
}

@media only screen and (max-width: 600px) {
    .cuadroPrincipal {
        width: 90vw;
        left: 5vw;
    }
}